label {
    display: block;
    margin-bottom: 5px;
}
label input,
label select
{
    margin-left: 2em;
}
pre {
    background: #eeeeee;
}
button[type="submit"] {
    background-color: lime;
}
button[type="submit"]:disabled {
    background-color: silver;
}
input.ng-invalid {
    outline: 2px solid red;
}
input.ng-dirty {
    background: yellow;
}