<div>
  <h3>All the stuff on one page!</h3>

<form novalidate
  [formGroup]="kitchenSink"
>
  <button type="submit" [disabled]="!kitchenSink.valid">Submit</button>

  <label>Name<input formControlName="name" type="text" /></label>
  <label>Age<input formControlName="age" type="text" /></label>

<!--
  <label>Password<input type="password" /></label>
  <label>email<input type="email" /></label>

  <label>Age (html)<input type="number" /></label>
  <label>Age (angular)<input type="text" /></label>

  <label>Birthday<input type="date" /></label>

  <label>Gender<select><option>Other</option></select></label>


  <label>Type<select><option>Mobile</option></select></label>
  <label>Phone<input type="text" /></label>

  <label>Line 1<input type="text" /></label>
  <label>Line 2 (optional)<input type="text" /></label>
  <label>Country<input type="text" /></label>
  <label>State<input type="text" /></label>
  <label>City<input type="text" /></label>
  <label>Zip<input type="text" /></label>
-->

</form>

<br />
<div>Form status: {{kitchenSink.status}}</div>
<pre>{{kitchenSink.value | json}}</pre>
</div>
